#login {
    width: auto;
}
.login-panel form {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
}

.login h1 a {
    background-size: contain;
    width: 100%;
    margin-bottom: 0;
}

.login form .input, .login input[type=text] {
    /* Fix for flex box elements Wordpress sets as 100% */
    width: 100px;
    margin: 0;
    box-shadow: none;
    border: 0;
    font-size: 13px;
    height: 16px;
}

.login .input-group-append {
    margin-left: 0;
}

.login .input-group-text {
    background: rgba(0, 0, 0, 0.2) !important;
    color: rgba(255, 255, 255, 0.6);
    border: 0;
    box-shadow: none;
}

.login .password-input-wrapper {
    display: flex;
}

#resetpassform .wp-hide-pw {
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: none;
    height: auto;
    display: flex;
    align-items: center;
}